<h1>Let's count your change!</h1>
<form action='/results' method='get'>
  <div class="form-group">
  <label for="userInput">Give us an amount:</label>
  <input name="userInput" id="userInput">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
